sudo: false

language: python

python:
  - "2.7"
  - "3.4"
  - "3.6"

install:
  - pip install -r requirements.txt

# command to run tests
script:
  - coverage run test.py

after_success:
  - codecov
